<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mood Swong</title>
    <style>
        body{
          padding: 0;
          margin: 0;
        }
        .heading{
          background-color: black;
          width: 100%;
          height: auto;
          color:cyan;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .formBack{
          
        }
      </style>
  </head>
  <body>
      <div class="heading">
          <h1> My First Try Using Flask </h1>
      </div>
    <!-- <video id="video" width="640" height="480" autoplay></video> -->
	<!-- <button id="snap">Snap Photo</button> -->
	<!-- <canvas id="canvas" width="640" height="480"></canvas> -->
      <div class="formBack">
        <form method="POST" id = "myForm" action="/song" enctype="multipart/form-data">
          <input id="username" name="username" type="text">
          <input id="myFileInput" name="file" type="file" accept="image/*;" capture="camera">
          <!-- <input type="file" name="file"  accept="image/*"> -->
          <input type="submit" id="snap" >Submit</button>
        </form>
      </div>
    <p> It is Fun! </p>

  </body>
</html>