<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  <style>
    .cover {
      background-size: cover;
      width: 300px;
      height: 300px;
      display: inline-block;
      margin: 10px;
      float: left;
      border: 3px solid black;
      position: relative;
    }
  </style>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container"></body>
      <h1> Personalized Playlist</h1>
      <h4 id="song">{{songname}}</h4>
      <p> Hi <b>{{name}}!</b> You seem <b id="mood">{{mood}}</b>. What do you think of the song <b id="anotherSongName">{{songname}}</b>?</p>
      <div class="row" id="tracks-container"></div>
      <div class="row">
        <button class="btn btn-success" id="unlike">I don't like this song!</button>
        <button class="btn btn-warning" id="like">Good job! I liked the song!</button>
        <p style="display: none" id="user_id">{{user_id}}</p>
        <p style="display: none" id="song_id">{{song_id}}</p>
      </div>
      </div>
  </body>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="song.js")}}"></script>
</html>